
/* Set scroll behavior as smooth for the whole website*/
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


body  {
    font-family: Verdana,sans-serif;
}
nav {
    background: #F5F5F5;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    display: flex;
    justify-content: space-between;
    height:70px;
    position:fixed;
    top:0;
    right:0;
    left:0;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    line-height: 40px;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 17px;
}
nav .mainMenu li a:hover {
    background: #A9A9A9;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
/*.fa-facebook:hover {color: rgb(0, 110, 255);}*/


nav #logo {
    margin: 6px;
    
    cursor: pointer;
/*    border: 1px solid;*/
    display:flex;
    
}

nav #logo img{
    width: 12%;
}
nav #logo .mainTitle{
    margin-right: 10px;
    line-height: 55px;
    font-size: 20px;
    
}
nav #logo .mainTitle span{
    color:#0099ff;
    font-size: 25px;
}

@media(max-width: 1000px){
    nav #logo img{
        width:20%;
    }
}

@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: grey;
        transition: top 1s ease;
        font-size: 1.5rem;
        display: none;    
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
        line-height:30px;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    nav #logo img{
       display:none;
    }
   
}

#header-image-menu{
    padding-left: 1%;
    padding-right: 1%;
}

#header-image-menu img{
    top : 60px;
    width: 100%;
    height: auto;
    background-image: url("paving_header.png");
    background-size: cover;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
}

/* #image-container {
    height: 30%;
} */
/* .head-image{
   position: absolute;
} */

h3{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    font-size: larger;
    padding-left: 1%;
}

hr {
    margin-left: 1%;
    margin-right: 1%;
    border-top: 0.5px solid #ccc;
    margin-bottom: 10px;
}

#location .title, #products .title, #about .title{
    padding-top:30px;
}
.about-text{
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15px;
    padding-bottom: 20px;
}


.paragraph-text .title {
    font-style: normal;
    font-size: x-large;
}

/*Flexbox added to make the images align side by side*/
.image-row {
    display: flex;
    margin-bottom: 50px;
    padding-right: 1%;
    padding-left: 1%;
}

.image-column {
    transition: transform .2s;
    flex: auto;
    padding: 10px;
}

.image-column:hover {
    zoom: 120%;
    box-shadow: 1px 1px 8px 1px #dcdcdc
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .image-row {
      flex-direction: column;
    }
 }

 .paragraph-text {
     font-size: 30px;
 }

#contact{
    background:white;
    padding-top:30px;
    margin-bottom: 50px;
    padding-right: 1%;
}
.contact-form{
   width:97%;
 
}
.text-contact,.content-form-submit{
    margin-left:15px;
}


.contact-form-text{
    display:block;
    margin-top:15px;
    margin-bottom:15px;
    padding:12px 10px;
    width:100%;
    box-sizing:border-box;
    margin-left: 15px;

}
.content-form-submit{
    padding: 12px 20px;
    background:black;
    color:#F5F5F5;
    text-transform:uppercase;
    border:none;   
}

.content-form-submit:hover {
    background-color: rgb(179, 179, 171);
    color: black;
}

#map {
    margin-bottom: 10px;
}

iframe {
    padding-left: 1%;
    padding-right: 1%;
}

#footer {
    height: 100px;
    background-color:black;
    justify-content: space-between;
    margin: 0px;
    display:flex;
    margin: 0px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    
}
#footer h4{
    top:5px;
 
}

#footer .center-box .content div{
    padding:5px;
}





    




#footer .fab fa-facebook:hover,#footer .fab fa-facebook:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);

}
@media(max-width: 800px){
    #footer{
        display: flex;
        flex-direction: column;
        
        height:50vh; 
        padding-bottom: 10px;
    }

}


