
/* Set scroll behavior as smooth for the whole website*/
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body  {
    font-family: Verdana,sans-serif;
}
nav {
    background: #F5F5F5;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    display: flex;
    justify-content: space-between;
    height:70px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 300;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    line-height: 40px;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 17px;
}
nav .mainMenu li a:hover {
    background: #A9A9A9;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}



nav #logo {
    margin: 6px;   
    cursor: pointer;
    display:flex;
    padding-left: 1%;
}

nav #logo .mainTitle{
    margin-right: 10px;
    line-height: 55px;
    font-size: 20px;  
}

nav #logo .mainTitle span{
    color:#0099ff;
    font-size: 25px;
}

@media(max-width: 1000px){
    nav #logo img{
        width:20%;
    }
}

@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: grey;
        transition: top 1s ease;
        font-size: 1.5rem;
        display: none;    
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
        line-height:30px;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(86, 137, 231);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    
   
}

#header-image-menu{
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 50px;
}

#header-image-menu img{
    top : 10px;
    width: 100%;
    height: auto;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("paving_header_imgs/paving_header_img.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding-top:0;
}

.slider{
    height: 90vh;
    overflow: hidden;
    position: relative;
    

}
.navigation-manual{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);   
    display: flex;
}
.manual-btn{
    width: 40px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
}

.manual-btn:hover{
    background-color: white;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;

}
input[name ="radio-btn"]{
    position: absolute;
    visibility: hidden;
}
.slide{
    width: 25%;
    transition: 0.5s;

}
.slide img{
    width: 100%;
    height: 100%;
}
#radio1:checked ~ .first{
    margin-left: 0%;

}

#radio2:checked ~ .first{
    margin-left: -25%;

}

#radio3:checked ~ .first{
    margin-left: -50%;

}
#radio4:checked ~ .first{
    margin-left: -75%;

}
.navigation-auto{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);   
    display: flex;
}
.navigation-auto div{
    width: 40px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition: 0.6s;
    
}


h3{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    font-size: larger;
    padding-left: 1%;
}

hr {
    margin-left: 1%;
    margin-right: 1%;
    border-top: 0.5px solid #ccc;
    margin-bottom: 10px;
}
#products .title{
    padding-top:30px; 
}

#location .title, #about .title{
    padding-top:30px;
}
.about-text{
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15px;
    padding-bottom: 20px;
}


.paragraph-text .title {
    font-style: normal;
    font-size: x-large;
}

ul {
    font-size: 1em;
    list-style-position: inside;
    text-align: justify;
    padding-left: 3%;
}

/*Flexbox added to make the images align side by side*/
.image-row {
    display: flex;
    margin-bottom: 50px;
    padding-right: 1%;
    padding-left: 1%;
}

.image-column {
    transition: transform .2s;
    flex: auto;
    padding: 10px;
    position: relative;
}

.content {
    opacity: 0;
    font-size: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(107, 105, 105, 0.5);
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}  

.image-column .content:hover {
    opacity: 1;
}
.image-column .content .text {
    height: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

.image-column .content:hover .text {
    opacity: 1;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
} 

.image-column img:hover{
  filter: brightness(0.4);
} 

.image-column:hover {
    zoom: 120%;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .image-row {
      flex-direction: column;
    }

    #header-image-menu img{
        padding-top:10%;
    }

    .content{
        font-size: 2vh;
    }
 }

 .paragraph-text {
     font-size: 30px;
 }

#contact{
    background:white;
    padding-top:30px;
    margin-bottom: 50px;
    padding-right: 1%;
}
.contact-form{
   width:97%;
 
}
.text-contact,.content-form-submit{
    margin-left:15px;
}


.contact-form-text{
    display:block;
    margin-top:15px;
    margin-bottom:15px;
    padding:12px 10px;
    width:100%;
    box-sizing:border-box;
    margin-left: 15px;

}
.content-form-submit{
    padding: 12px 20px;
    background:black;
    color:#F5F5F5;
    text-transform:uppercase;
    border:none;   
}

.content-form-submit:hover {
    background-color: rgb(179, 179, 171);
    color: black;
}

#map {
    margin-bottom: 10px;
}

iframe {
    padding-left: 1%;
    padding-right: 1%;
}

#footer {
    height: 100px;
    background-color:black;
    justify-content: space-between;
    margin: 0px;
    display:flex;
    margin: 0px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
}

#footer h4{
    top:5px;
}

#footer .center-box .contentFooter div{
    padding:5px;
}



#footer .fab fa-facebook:hover,#footer .fab fa-facebook:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);

}
@media(max-width: 800px){
    #footer{
        display: flex;
        flex-direction: column;
        
        height:50vh; 
        padding-bottom: 10px;
    }

}